.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-box {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;

  width: 400px;
  max-width: calc(100vw - 40px);

  background: rgba(255, 255, 255);
  backdrop-filter: blur(10px);

  border-radius: 25px;

  padding: 20px 30px;

  min-height: 30px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  gap: 12px;

  transition: all 0.2s ease;
}



.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  background: transparent;
  color: #111;
}

.search-input::placeholder {
  color: #777;
}

.go-button {
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  padding: 0;
  margin-left: auto;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Arrow */
.go-button::before {
  content: "";
  width: 20px;
  height: 20px;

  background: rgb(174, 4, 221);

  clip-path: polygon(
    50% 0%,
    100% 100%,
    50% 75%,
    0% 100%
  );

  transform: rotate(45deg);
}

